body {
  width     : 900px;
  height    : 800px;
  margin    : 20px auto;
  background: #f8f8f8;
  border    : 4px solid #888;
  border-radius: 40px;
  -moz-border-radius :40px;
  -webkit-border-radius:40px;
}

img {
    padding-top: 20px;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
table, th, td{
    border: 1px solid black;
}

.tabletitle{
    text-align: center;
}